.tab {
  width: 100%;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.5rem;

  .header {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    // border-bottom: 0.1rem solid var(--color-border);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0;
      color: var(--color-text);
      border-bottom: 0.2rem solid transparent;

      &:hover {
        color: var(--color-title);
        cursor: pointer;
      }

      &.active {
        border-bottom-color: var(--color-primary);
        color: var(--color-title);
      }
    }
  }
}
