.dashbaord_layout {
  position: relative;

  h1 {
    color: var(--color-title);
    font-weight: 600;
  }

  .sub {
    color: #707070;
  }
}

.section {
  position: relative;
  margin: 1rem 0;

  .title {
    color: var(--color-title);
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}
