.verifyRoot {
  max-width: 720px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.verifyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--title);
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-text);
  }

  .otpInput {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }
}
