.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.5px);
  z-index: 100;

  &.visible {
    display: flex;
  }

  .wrapper {
    max-width: 700px;
    background: #ffffff;
    border-radius: 1rem;
    min-width: 40rem;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3.5rem;
      border-bottom: 0.1rem solid var(--color-border);
      padding: 1.5rem;

      button {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #f5f5f5;
        }
      }
    }

    .content {
      width: 100%;
      max-height: 45rem;
      min-height: 30rem;
      overflow: auto;
      padding: 1rem;
    }
  }
}
