.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
  flex-shrink: 0;

  .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;

    &:last-child {
      border-top: 0.1rem solid var(--color-border);
    }

    a {
      display: flex;
      width: 100%;
      gap: 1rem;
      align-items: center;
      text-decoration: none;
      color: var(--color-title);
      padding: 0.7rem;
      border-radius: 0.5rem;
      flex-shrink: 0;

      &:hover {
        background: var(--color-hover);
      }
    }

    .active {
      color: var(--color-white);
      border-radius: 10px;
      border-left: 1px solid var(--color-primary, #04d69d);
      background: var(--color-primary, #04d69d);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1) inset;
    }

    .user_profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      border-top: 0.1rem solid var(--color-border);
      width: 100%;
      padding: 1rem 0;

      img {
        width: 3rem;
        height: 3rem;
        border: 0.15rem solid var(--color-primary);
        border-radius: 50%;
        object-fit: cover;
      }

      div {
        position: relative;

        b {
          display: block;
          color: var(--color-title);
        }

        small {
          display: block;
          color: var(--color-primary);
        }
      }
    }
  }
}
