.nav {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
  flex-shrink: 0;

  a {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
    padding: 1rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }

  .active {
    background: var(--color-tab-bg-active);
    color: var(--color-tab-active);
  }
}
