.dashboard_layout {
  position: relative;
  width: 100%;

  .top_area {
    display: flex;
    width: 100%;
    height: 5rem;

    &_left {
      flex: 1 1 15%;
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1.5rem;

      @media screen and (max-width: 800px) {
        padding: 1rem;
      }

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;

        display: block;
      }

      h2 {
        color: var(--color-title);
      }
    }

    .small_view {
      display: none;

      @media screen and (max-width: 800px) {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;

        .menu_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 0.4rem;

          span {
            display: block;
            height: 0.2rem;
            width: 1rem;
            background: var(--color-title);
            border-radius: 0.5rem;

            &:nth-child(2) {
              width: 1.7rem;
            }
          }
        }
      }
    }

    &_right {
      flex: 1 1 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;

      @media screen and (max-width: 800px) {
        display: none;
      }

      &_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        flex: 1 1 40%;

        .green_button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          border: 0.1rem solid var(--color-primary);
          border-radius: 3rem;
          height: 2.5rem;
          width: 6rem;
          font-size: 1rem;
          color: var(--color-primary);
          background: var(--color-light-info);
          cursor: pointer;
        }
      }
    }
  }

  .bottom_area {
    display: flex;
    width: 100%;
    height: 90vh;

    &_left {
      flex: 1 1 15%;
      // padding: 1rem;
    }

    &_right {
      flex: 1 1 85%;
      height: 100%;
      padding: 1rem;
      overflow: auto;
    }

    @media screen and (max-width: 800px) {
      &_left {
        flex: 0;
        // padding: 1rem;
      }

      &_right {
        flex: 1;
      }
    }
  }
}

.overview {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 31px;
  margin: 2rem 0;
  align-items: start;

  .small_screen {
    display: none;
  }

  .trigger {
    display: none;
  }

  @media screen and (max-width: 800px) {
    display: block;
    margin: 3rem 0;

    .small_screen {
      display: block;
      width: 100%;
    }

    .big_screen {
      display: none;
    }

    .trigger {
      display: flex;
      align-items: center;
      gap: 1rem;

      button {
        display: block;
        padding: 0.5rem 0.7rem;
        border-radius: 0.5rem;
        background: var(--color-light);
        color: var(--color-text);

        &.active {
          color: var(--color-title);
          background: var(--color-tab-bg-active);
        }
      }
    }
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar {
  position: sticky;
  top: 1rem;
}
