@import "../styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  font-family: "Poppins";
}

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 80%;
}

body {
  margin: 0;
  font-family: var(--font-geist-sans, Inter), system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
}

a {
  color: var(--color-primary);
}
