.section_table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    p {
      color: var(--color-title);
    }

    .tooltip {
      justify-content: flex-start;
    }
  }

  .wrapper {
    width: 100%;
    border-radius: 6px;
    border: 0.1rem solid var(--color-border, #e3e5e5);

    .cell {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 0.1rem solid var(--color-border);

      .left {
        position: relative;

        small {
          display: block;
          color: var(--color-text);
        }

        p {
          color: var(--color-title);
        }
      }
    }
  }
}
