.dashboard_layout {
  position: relative;
  width: 100%;

  .top_area {
    display: flex;
    width: 100%;
    height: 5rem;

    &_left {
      flex: 1 1 15%;
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1.5rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;

        display: block;
      }

      h2 {
        color: var(--color-title);
      }
    }

    &_right {
      flex: 1 1 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;

      &_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        flex: 1 1 40%;

        .green_button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          border: 0.1rem solid var(--color-primary);
          border-radius: 3rem;
          height: 2.5rem;
          width: 6rem;
          font-size: 1rem;
          color: var(--color-primary);
          background: var(--color-light-info);
          cursor: pointer;
        }
      }
    }
  }

  .bottom_area {
    display: flex;
    width: 100%;
    height: 90vh;

    &_left {
      flex: 1 1 15%;
      // padding: 1rem;
    }

    &_right {
      flex: 1 1 85%;
      height: 100%;
      padding: 1rem;
      overflow: auto;
    }
  }
}

.overview {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 31px;
  margin: 2rem 0;
  align-items: start;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar {
  position: sticky;
  top: 1rem;
}
