.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-text);
  flex-shrink: 0;

  .tooltiptext {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    background: var(--color-input);
    width: fit-content;
    min-width: 8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    transition: opacity 0.3s;
    max-width: 25rem;
    z-index: 10;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
