.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

.modal_wrapper {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  max-width: 40rem;

  .inner {
    width: 100%;
  }

  .big {
    width: 100%;
  }
}

.footer {
  width: 100%;
  padding: 1rem;

  .top {
    position: relative;

    small {
      color: var(--color-text);
      display: block;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
