.identity {
  position: relative;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;
  }

  .modal_wrapper {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 40rem;

    .inner {
      width: 100%;
    }

    .big {
      width: 100%;
    }
  }

  .footer {
    width: 100%;
    padding: 1rem;

    .top {
      position: relative;

      small {
        color: var(--color-text);
        display: block;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .trigger {
    display: none;
  }
  @media screen and (max-width: 800px) {
    display: block;
    margin: 3rem 0;

    .small_screen {
      display: block;
      width: 100%;
      margin-bottom: 2rem;
    }

    .grid {
      display: none;
    }

    .trigger {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      button {
        display: block;
        padding: 0.5rem 0.7rem;
        border-radius: 0.5rem;
        background: var(--color-light);
        color: var(--color-text);

        &.active {
          color: var(--color-title);
          background: var(--color-tab-bg-active);
        }
      }
    }
  }
}
