.security {
  position: relative;
  margin: 2rem 0;

  .section {
    margin: 0.7rem 0;

    .title {
      margin-bottom: 0.5rem;
      color: var(--color-title);
    }
  }

  .overview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.5rem;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }

    .right {
      padding: 1rem;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        &:not(:last-child) {
          border-bottom: 0.1rem solid var(--color-border);
        }

        small {
          display: block;
          color: var(--color-text);
        }

        p {
          color: var(--color-title);
        }

        ul {
          padding: 0 1.5rem;

          li {
            color: var(--color-title);
          }
        }
      }
    }
  }
}
