.dashboard_layout {
  position: relative;
  width: 100%;

  .top_area {
    display: flex;
    width: 100%;
    height: 5rem;

    &_left {
      flex: 1 1 15%;
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1.5rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.1rem solid var(--color-border);
        display: block;
      }

      h2 {
        color: var(--color-title);
      }
    }

    &_right {
      flex: 1 1 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;
    }
  }

  .bottom_area {
    display: flex;
    width: 100%;
    height: 90vh;

    &_left {
      flex: 1 1 15%;
      padding: 1rem;
    }

    &_right {
      flex: 1 1 85%;
      height: 100%;
      padding: 1.5rem;
      overflow: auto;
    }
  }
}

.overview {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  margin: 1rem 0;

  .apps_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
